[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
mediapipe = "*"
#tensorflow = "*"
#keras = "*"
tqdm = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pydrive = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
version="python -V"
list="python -m pip list"
app="python -m src.app"
